<!-- With element the binding will change wheneever the element change   -->

<label for="">Nom du serveurInit-Event</label>
<!-- <input type="text" (input)="onInitServerName($event)"> -->
<input type="text" [(ngModel)]="serverInit">

<br>
<!-- <button class="btn btn-primary" [disabled]="!allowNewServer"  -->
    <!-- <button class="btn btn-primary" [disabled]:`serverInit!=""`  -->
<button class="btn btn-primary" [disabled]="serverInit==''" 
(click)="onCreationServer()"
>Add a server</button>
<p>
    {{serverCreationStatus}}
</p>
<p *ngIf="serverCreated && serverName && !serverInit else noServer"> le serveur {{serverName}} a été créé </p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>


<!-- <label for="">Nom du serveur-After update</label>
<input type="text" (input)={{serverName}}> -->

<br>
<label for="">Nom du serveur-string interpollation </label>
{{serverName}} 

<br>
<label for="">Nom du serveurInit-Event</label>
<input type="text" (input)="onUpdateServerName($event)">

<br>
<label for="">Nom du serveur-2 ways binding</label>
<input type="text" [(ngModel)]="serverName" class="form-control">

<!-- 
Not relating any data from the server component .. 
Just lopp as much times as there is data in the servers list  
-->
<app-server *ngFor="let server of servers"></app-server>
